{
    "name": "ApoF - Warp Full Tutorial",
    "description": "Full Warp Apoferritin tutorial workflow, including other programs.",
    "jobs": [
        {
            "jobid": "External/job002",
            "jobtype": "emw-import-ts",
            "params": {
                "acq.amplitude_constrast": "0.1",
                "acq.cs": "2.7",
                "acq.gain": "data/gain_ref.mrc",
                "acq.pixel_size": "0.789",
                "acq.total_dose": "2.64",
                "acq.voltage": "300",
                "gain_file": "",
                "mdoc_files": "data/mdoc/*.mdoc",
                "tilt_axis_angle": "-85.6",
                "tilt_images": "data/frames/",
                "wait.file_change": "1",
                "wait.sleep": "1",
                "wait.timeout": "1"
            }
        },
        {
            "jobid": "External/job004",
            "jobtype": "emw-warp-mctf",
            "params": {
                "create_settings.bin_angpix": "",
                "create_settings.eer_ngroups": "",
                "extra_create_settings": "--gain_flip_y",
                "fs_motion_and_ctf.c_defocus_max": "8",
                "fs_motion_and_ctf.c_defocus_min": "0.5",
                "fs_motion_and_ctf.c_grid": "2x2",
                "fs_motion_and_ctf.c_range_max": "7",
                "fs_motion_and_ctf.c_range_min": "30",
                "fs_motion_and_ctf.c_use_sum": true,
                "fs_motion_and_ctf.c_window": "512",
                "fs_motion_and_ctf.m_bfac": "-500",
                "fs_motion_and_ctf.m_grid": "1x1",
                "fs_motion_and_ctf.m_range_max": "10",
                "fs_motion_and_ctf.m_range_min": "500",
                "fs_motion_and_ctf.out_average_halves": true,
                "fs_motion_and_ctf.perdevice": "2",
                "gpus": "4",
                "input_tiltseries": "External/job002/frame_series.star",
                "launcher_warp": "",
            }
        },
        {
            "jobid": "External/job005",
            "jobtype": "emw-warp-aretomo",
            "params": {
                "create_settings.tomo_dimensions": "4400x6000x1000",
                "extra_ts_import": "",
                "gpus": "2",
                "input_tiltseries": "External/job004/tilt_series_ctf.star",
                "launcher_aretomo": "",
                "launcher_warp": "",
                "ts_aretomo.alignz": "800",
                "ts_aretomo.angpix": "10",
                "ts_aretomo.axis_batch": "0",
                "ts_aretomo.axis_iter": "0",
                "ts_aretomo.patches": "",
                "ts_aretomo.perdevice": "1",
                "ts_import.min_ntilts": "3",
                "ts_import.override_axis": "-85.6"
            }
        },
        {
            "jobid": "External/job006",
            "jobtype": "emw-warp-ctfrec",
            "params": {
                "gpus": "2",
                "input_tiltseries": "External/job005/tilt_series_aln.star",
                "launcher_warp": "",
                "ts_ctf.defocus_max": "8",
                "ts_ctf.defocus_min": "0.5",
                "ts_ctf.perdevice": "2",
                "ts_ctf.range_high": "7",
                "ts_ctf.range_low": "30",
                "ts_ctf.window": "512",
                "ts_reconstruct.angpix": "10",
                "ts_reconstruct.halfmap_frames": true
            }
        },
        {
            "jobid": "External/job007",
            "jobtype": "emw-pytom",
            "params": {
                "gpus": "2",
                "input_tomograms": "External/job006/tomograms.star",
                "pytom.angular-search": "20",
                "pytom.high-pass": "400",
                "pytom.low-pass": "20",
                "pytom.mask": "data/ref/emd_15854_10Apx_mask.mrc",
                "pytom.per-tilt-weighting": true,
                "pytom.random-phase-correction": true,
                "pytom.template": "data/ref/emd_15854_10Apx.mrc",
                "pytom.tomogram-ctf-model": "phase-flip",
                "pytom_extract.n": "2500",
                "pytom_extract.particle-diameter": "140",
                "pytom_extract.tophat-connectivity": "1",
                "pytom_extract.tophat-filter": true,
            }
        },
        {
            "jobid": "External/job008",
            "jobtype": "emw-warp-export_particles",
            "params": {
                "filters.particles_max": "10000",
                "filters.particles_min": "0",
                "gpus": "2",
                "input_tomograms": "External/job007/tomograms_coords.star",
                "launcher_warp": "",
                "ts_export_particles.box": "64",
                "ts_export_particles.diameter": "140",
                "ts_export_particles.output_angpix": "4",
                "ts_export_particles.perdevice": "2",
                "ts_export_type": "2d"
            }
        },
        {
            "jobid": "External/job009",
            "jobtype": "emw-relion-tomoinitial",
            "params": {
                "cpus": "",
                "extra_args": "",
                "gpus": "4",
                "relion_refine.K": "1",
                "relion_refine.ctf": true,
                "relion_refine.ctf_intact_first_peak": false,
                "relion_refine.dont_combine_weights_via_disc": false,
                "relion_refine.flatten_solvent": true,
                "relion_refine.ios": "External/job008/warp_particles_optimisation_set.star",
                "relion_refine.iter": "100",
                "relion_refine.no_parallel_disc_io": true,
                "relion_refine.particle_diameter": "140",
                "relion_refine.pool": "30",
                "relion_refine.sigma_tilt": "",
                "relion_refine.sym": "O",
                "relion_refine.tau2_fudge": "4",
                "run_in_c1": false
            }
        },
        {
            "jobid": "External/job010",
            "jobtype": "emw-relion-tomorefine",
            "params": {
                "relion_refine.ios": "External/job008/warp_particles_optimisation_set.star",
                "relion_refine.ref": "External/job009/output/initial_model.mrc",
                "relion_refine.solvent_mask": "",
                "relion_refine.firstiter_cc": false,
                "relion_refine.trust_ref_size": true,
                "relion_refine.ini_high": "15",
                "relion_refine.sym": "O",
                "relion_refine.ctf": true,
                "relion_refine.ctf_intact_first_peak": false,
                "relion_refine.particle_diameter": "140",
                "relion_refine.zero_mask": true,
                "relion_refine.solvent_correct_fsc": true,
                "relion_refine.blush": false,
                "relion_refine.healpix_order": "2",
                "relion_refine.offset_range": "5",
                "relion_refine.offset_step": "1",
                "relion_refine.auto_local_healpix_order": "4",
                "relion_refine.relax_sym": "",
                "relion_refine.auto_faster": false,
                "relion_refine.sigma_tilt": "",
                "relion_refine.no_parallel_disc_io": true,
                "relion_refine.pool": "30",
                "relion_refine.pad": "2",
                "relion_refine.dont_combine_weights_via_disc": false,
                "gpus": "4",
                "cpus": "",
                "extra_args": "",
                "launcher": ""
            }
        },
        {
            "jobid": "External/job003",
            "jobtype": "emw-relion-mask_create",
            "params": {
                "relion_mask_create.denovo": false,
                "relion_mask_create.denovo.box_size": "",
                "relion_mask_create.denovo.center_x": "0",
                "relion_mask_create.denovo.center_y": "0",
                "relion_mask_create.denovo.center_z": "0",
                "relion_mask_create.denovo.inner_radius": "0",
                "relion_mask_create.denovo.outer_radius": "99999",
                "relion_mask_create.volume.angpix": "",
                "relion_mask_create.volume.extend_inimask": "",
                "relion_mask_create.volume.i": "External/job010/output/run_class001.mrc",
                "relion_mask_create.volume.ini_threshold": "0.02",
                "relion_mask_create.volume.invert": false,
                "relion_mask_create.volume.lowpass": "",
                "relion_mask_create.volume.width_soft_edge": ""
            }
        },
        {
            "jobid": "External/job011",
            "jobtype": "emw-warp-mtools_create",
            "params": {
                "create_population.name": "ApoF",
                "create_source.files": "",
                "create_source.name": "ApoF",
                "create_source.nframes": "",
                "create_species.angpix_resample": "0.7894",
                "create_species.diameter": "140",
                "create_species.lowpass": "10",
                "create_species.mask": "External/job003/mask.mrc",
                "create_species.name": "ApoF",
                "create_species.particles_relion": "External/job010/output/run_data.star",
                "create_species.sym": "O",
                "extra_create_species": "",
                "gpus": "1",
                "input_population": "",
                "new_population": true,
                "warp_folder": "External/job008"
            }
        },
        {
            "jobid": "External/job012",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": false,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "0",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job011/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "",
                "mcore.refine_mag": false,
                "mcore.refine_particles": false,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job013",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": true,
                "mcore.ctf_defocusexhaustive": true,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job012/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "3x3",
                "mcore.refine_mag": false,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job014",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": true,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job013/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "3x3",
                "mcore.refine_mag": false,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job015",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": false,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job014/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "3x3",
                "mcore.refine_mag": false,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": true,
            }
        },
        {
            "jobid": "External/job016",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": true,
                "mcore.ctf_defocus": true,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": true,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job015/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "3x3",
                "mcore.refine_mag": true,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job017",
            "jobtype": "emw-warp-estimate_weights",
            "params": {
                "estimate_weights.population": "External/job016/m/ApoF.population",
                "estimate_weights.resolve_frames": false,
                "estimate_weights.resolve_items": true,
                "estimate_weights.source": "",
                "extra_estimate_weights": "",
                "gpus": "1",
            }
        },
        {
            "jobid": "External/job018",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": false,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job017/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "",
                "mcore.refine_mag": false,
                "mcore.refine_particles": false,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job019",
            "jobtype": "emw-warp-estimate_weights",
            "params": {
                "estimate_weights.population": "External/job018/m/ApoF.population",
                "estimate_weights.resolve_frames": true,
                "estimate_weights.resolve_items": false,
                "estimate_weights.source": "",
                "extra_estimate_weights": "",
                "gpus": "1",
            }
        },
        {
            "jobid": "External/job020",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": false,
                "mcore.ctf_defocus": false,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": false,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job019/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "",
                "mcore.refine_mag": false,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": false,
            }
        },
        {
            "jobid": "External/job021",
            "jobtype": "emw-warp-mtools_resample",
            "params": {
                "extra_resample": "",
                "gpus": "1",
                "resample_trajectories.population": "External/job020/m/ApoF.population",
                "resample_trajectories.samples": "2",
                "resample_trajectories.species": ""
            }
        },
        {
            "jobid": "External/job022",
            "jobtype": "emw-warp-mcore",
            "params": {
                "extra_mcore": "",
                "gpus": "4",
                "mcore.ctf_cs": true,
                "mcore.ctf_defocus": true,
                "mcore.ctf_defocusexhaustive": false,
                "mcore.ctf_zernike2": false,
                "mcore.ctf_zernike3": true,
                "mcore.ctf_zernike4": false,
                "mcore.ctf_zernike5": false,
                "mcore.iter": "",
                "mcore.perdevice_refine": "2",
                "mcore.population": "External/job021/m/ApoF.population",
                "mcore.refine_doming": false,
                "mcore.refine_imagewarp": "3x3",
                "mcore.refine_mag": true,
                "mcore.refine_particles": true,
                "mcore.refine_stageangles": true,
            }
        }
    ]
}
