{
    "jobs": [
        {
            "jobid": "EMwrap/job015",
            "jobtype": "emw-import-ts",
            "params": {
                "mdoc_files": "data/mdoc/*.mrc.mdoc",
                "tilt_axis_angle": "-85.6",
                "acq.voltage": "300",
                "acq.cs": "2.7",
                "acq.amplitude_contrast": "0.1",
                "wait.timeout": "1",
                "wait.file_change": "1",
                "wait.sleep": "1",
                "acq.amplitude_constrast": "0.1",
                "acq.gain": "data/gain_ref.mrc",
                "acq.pixel_size": "0.789",
                "acq.total_dose": "2.64",
                "tilt_images": "data/frames/"
            }
        },
        {
            "jobid": "WarpOtf/job022",
            "jobtype": "emw-warp-otf",
            "params": {
                "mctf.fs_motion_and_ctf.m_range_min": "500",
                "mctf.fs_motion_and_ctf.m_range_max": "10",
                "mctf.fs_motion_and_ctf.m_bfac": "-500",
                "mctf.fs_motion_and_ctf.m_grid": "1x1",
                "mctf.fs_motion_and_ctf.c_range_min": "30",
                "mctf.fs_motion_and_ctf.c_range_max": "7",
                "mctf.fs_motion_and_ctf.c_defocus_min": "0.5",
                "mctf.fs_motion_and_ctf.c_defocus_max": "8",
                "mctf.fs_motion_and_ctf.c_window": "512",
                "mctf.fs_motion_and_ctf.c_grid": "2x2x1",
                "wat.create_settings.tomo_dimensions": "4400x6000x1000",
                "wat.ts_aretomo.alignz": "600",
                "perdevice": "2",
                "input_tiltseries": "EMwrap/job015/tilt_series.star",
                "mctf.extra_create_settings": "--gain_flip_y",
                "mctf.fs_motion_and_ctf.c_use_sum": false,
                "mctf.fs_motion_and_ctf.out_average_halves": false,
                "wat.extra_ts_import": "",
                "wat.ts_aretomo.angpix": "10",
                "wat.ts_aretomo.axis_iter": "0",
                "wat.ts_aretomo.axis_batch": "0",
                "wat.ts_aretomo.patches": "1x1",
                "ctfrec.ts_reconstruct.angpix": "10",
                "ctfrec.ts_reconstruct.halfmap_frames": false,
                "gpus": "2",
                "register_output_only": false,
                "launcher_warp": "",
                "wat.launcher_aretomo": "",
                "queue.name": "None",
                "queue.param.cryoem.queue_name": "cryoem",
                "queue.param.cryoem.gpu_type": "any",
                "queue.param.cryo_core.queue_name": "cryo_core",
                "queue.param.rtx5000.queue_name": "rtx5000"
            }
        }
    ]
}