{
        "label": "Warp Tutorial",
        "description": "Basic steps to follow the Warp tutorial",
        "jobs": [
            {
                "jobid": "External/job001",
                "jobtype": "emw-import-ts",
                "params": {
                    "mdoc_files": "data/Position*[1-9].mdoc",
                    "tilt_axis_angle": "850",
                    "wait.timeout": "1",
                    "wait.file_change": "1",
                    "wait.sleep": "1",
                    "tilt_images": "data/",
                    "acq.gain": "",
                    "acq.pixel_size": "1.91",
                    "acq.voltage": "300",
                    "acq.cs": "2.7",
                    "acq.amplitude_constrast": "0.1",
                    "acq.total_dose": "3.5",
                    "gain_file": ""
                }
            },
            {
                "jobid": "External/job002",
                "jobtype": "emw-warp-mctf",
                "params": {
                    "fs_motion_and_ctf.perdevice": "2",
                    "fs_motion_and_ctf.m_range_min": "500",
                    "fs_motion_and_ctf.m_range_max": "10",
                    "fs_motion_and_ctf.m_bfac": "-500",
                    "fs_motion_and_ctf.m_grid": "5x5",
                    "fs_motion_and_ctf.c_range_min": "30",
                    "fs_motion_and_ctf.c_range_max": "4",
                    "fs_motion_and_ctf.c_defocus_min": "0.5",
                    "fs_motion_and_ctf.c_defocus_max": "5",
                    "fs_motion_and_ctf.c_window": "512",
                    "fs_motion_and_ctf.c_grid": "1x1",
                    "gpus": "4",
                    "input_tiltseries": "External/job001/tilt_series.star",
                    "create_settings.bin_angpix": "0",
                    "create_settings.eer_ngroups": "",
                    "fs_motion_and_ctf.c_use_sum": false,
                    "fs_motion_and_ctf.out_averages": false,
                    "fs_motion_and_ctf.out_average_halves": false
                }
            }
        ]
    }