#!/bin/bash

module purge && module load -s relion/v5.0

export PROGRAM=$1
shift
export MPI=$1
shift

if [ "$MPI" -eq 1 ]; then
    export CMD="${PROGRAM} $@"
else    
    export CMD="mpirun -np ${MPI} ${PROGRAM}_mpi $@"
fi

echo Running command: ${CMD}

$CMD