#!/bin/bash

# Get the directory of the current script
export ROOT="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"


export SCRIPTS=$ROOT/scripts

# Load the required Python environment, either a conda or virtualenv
. ${ROOT}/bashrc


export EMWRAP_CONFIG=$(cat <<EOF
{
    "dispatcher": "$SCRIPTS/emwrap_dispatcher.sh",      
    "queues": [
        {
            "name": "cryo",
            "template": "$SCRIPTS/lsf_template.sh",
            "submit": "$SCRIPTS_LOCAL/lsf_submit.sh {job_script}",
            "params": [
                {
                    "name": "queue_name",
                    "default": "cryo",
                    "condition": "false"
                },
                {
                    "name": "gpu_type",
                    "label": "GPU type",
                    "help": "Select the GPU type if you need an specific one for this job.",
                    "default": "any",
                    "paramClass": "EnumParam",
                    "choices": ["any", "V100", "A100"]
                }                
            ]
        },
        {
            "name": "cryo_core",
            "template": "$SCRIPTS/lsf_template.sh",
            "submit": "$SCRIPTS_LOCAL/lsf_submit.sh {job_script}",
            "params": [
                {
                    "name": "queue_name",
                    "default": "cryo_core",
                    "condition": "false"
                }
            ]
        }
    ],
    "programs": {
        "EMWRAP": {"launcher": "$ROOT/emh-tomo --launch"},
        "WARP": {"launcher": "$SCRIPTS/mock_warp_apof_launcher.sh"},
        "PYTOM": {"launcher": "$SCRIPTS/mock_warp_apof_launcher.sh"},
        "RELION": {"launcher": "$SCRIPTS/mock_warp_apof_launcher.sh"},
        "MOTIONCOR2": {"launcher": "$SCRIPTS/motioncor2.sh"},
        "MOTIONCOR3": {"launcher": "$SCRIPTS/motioncor3.sh"},
        "ARETOMO2": {"launcher": "$SCRIPTS/aretomo2.sh"},
        "ARETOMO3": {"launcher": "$SCRIPTS/aretomo3.sh"},
        "IMOD": {"launcher": "$SCRIPTS/imod_launcher.sh"},
        "BATCHTOMO": {"launcher": "$SCRIPTS/batchruntomo.sh"},
        "CTFFIND": {"launcher": "$SCRIPTS/ctffind5.sh", "version": 5},
        "CRYOCARE": {"launcher": "$SCRIPTS/cryocare_launcher.sh"},
        "DENOISET": {"launcher": "$SCRIPTS/denoiset_launcher.sh"},
        "MISSALIGNMENT": {"launcher": "$SCRIPTS/missalignment.sh"}
    },
    "testdata": {
        "WarpApofTutorial": {
            "path": "$ROOT/testdata/WarpTutorialTomo"
        },
        "WarpApofMockup": {
           "path": "$ROOT/testdata/WarpTutorialMockup"
        }
    }
}
EOF
)
